<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h2>Users</h2>
<table border="solid 1px black">
    <thead style="background: grey; color: white;">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.idUser}"></td>
        <td th:text="${user.nameUser}"></td>
        <td th:text="${user.firstNameUser}"></td>
        <td th:text="${user.lastNameUser}"></td>
        <td th:text="${user.phoneNumUser}"></td>
        <td th:text="${user.emailUser}"></td>
    </tr>
    </tbody>
</table>
</div>
<p><a href="/addUser">Add a new user</a></p>
</div>
</body>
</html>